extends layout
block headerContent
	- let organiserImg =  event.organiser.profileImg ? `${imagekitEP}${event.organiser.profileImg}`: 'https://www.drupal.org/files/issues/default-avatar.png'; 
	#content
		h1= event.name
		span 
			i.fa.fa-map-marker
			= event.location.address
block content
	section#container
		.event
			.event-info
				h2 Information
				p= event.description
				.event-info--meta
					span 
						i.fa.fa-calendar
						= h.moment(new Date(event.date)).format('LL')
					span 
						i.fa.fa-clock-o
						=`${h.getTimeFromNumber(event.time.start)} - ${h.getTimeFromNumber(event.time.end)}`
				.event-info--price.clrfx
					span= `$${event.price}`
					a.btn.btn-th.ct-right(href="") Book Now
				h2 Comments
				.comments
					each comment,index in event.comments
						if index < 3
							.comment
								.comment-profile
									- let profileSrc = comment.author.profileImg ? `${imagekitEP}${comment.author.profileImg}`: 'https://www.drupal.org/files/issues/default-avatar.png';
									img(src=profileSrc, alt=comment.author.fullname)
								.comment-content
									.comment-content--meta
										span= comment.author.fullname
										span= h.moment(comment.createdAt).calendar()
									.comment-content--comment= comment.comment	
									br
									br
									section#replies(data-target=comment._id)
										each reply in comment.replies
											.comment
												.comment-profile
													- let profileSrc = reply.author.profileImg ? `${imagekitEP}${reply.author.profileImg}`: 'https://www.drupal.org/files/issues/default-avatar.png';
													img(src=profileSrc, alt="user-image")
												.comment-content
													.comment-content--meta
														span= reply.author.fullname
														span= h.moment(reply.createdAt).calendar()
													.comment-content--comment= reply.comment 
									if user
										form#replyForm
											.profile-image
												img(src=user.profileImg, alt="user-image")
											.input-group
												textarea(name="reply" placeholder="Add a reply..")
											button.btn.btn-reply.btn-th(type="button" data-comment=comment._id data-id=event.id) Reply
				if event.comments.length > 3
					button#loadComment(class="btn btn-th center" data-user=user ? user.id : "" data-event=event.id data-page=2) Show More
				if user
					form#commentForm
						.profile-image
							img(src=user.profileImg, alt=user.fullname)
						.input-group
							textarea(name="comment" placeholder="Add a comment..")
						button.btn.btn-reply.btn-th(data-id=event.id) Add
				else
					span 
						a.st-link.hlt.center(href="/login") Login to comment
			.event-host
				.user-image
					img(src=organiserImg alt=event.organiser.name)
					span.badge HOST
				h4= event.organiser.fullname
				if event.organiser.bio
					p= `${event.organiser.bio.substring(0,125)}${event.organiser.bio.length > 125 ? '...' : ''}`
				br
				-let profileLink = user === event.organiser.id ? '/profile/me' : `/user/profile/${event.organiser.id}`;
				a(href=profileLink) Know More

		if otherEvents.length
			section#other
				h2 Other Events
				.other-events
					each event in otherEvents
						+event_card("other-events--card",event)

block footer
	+footer(true)
				