extends layout
block header
	+navigation
block content
	section#container
		.profile
			+profile_navigations("wallet")
			.profile-wallet
				.profile-wallet--meta
						span(onclick="window.location.href='/profile/wallet/receive'" class=`${type === "receive"? 'active':''}`) Money Earned
							b $#{userInfo.receive}
						span(onclick="window.location.href='/profile/wallet/paid'" class=`${type === "paid"? 'active':''}`) Money Paid
							b $#{userInfo.paid}
						span(onclick="window.location.href='/profile/wallet/reward'") Reward Points
							b
								i.fa.fa-database 
								|0
				.profile-wallet--data
					if wallet.length
						ul.data-list
							each item in wallet
								li.data-list--item
									span.gr-2
										small Date
										| #{h.moment(item.createdAt).format('LL')}
									span.gr-3
										small Transaction Id
										| #{item.transactionId}
									span
										small Amount
										| $#{item.amount}
									span
										a(href=item.receipt).btn.btn-th View
						-const url = `/profile/wallet/${type}`;
						+pagination(url)
					else
						span No transactions found..
						
block footer
	+footer(true)