extends layout
block header
	+navigation
block content
	section#container
		.profile
			+profile_navigations
			.profile-info
				.profile-info--user
					- let profileSrc = userInfo.profileImg ? `${imagekitEP}${userInfo.profileImg}`: 'https://www.drupal.org/files/issues/default-avatar.png';
					.user-image
						img(src=profileSrc , alt="user-image")
						label(for="profile" style="cursor:pointer;")
							span#update-pic.fa.fa-pencil-square
						form#uploadProfile(action="" method="post" enctype="multipart/form-data")
							.input-group
								input(type="file" id="profile" name="profile" accept="image/*")
					.user-meta
						h2= userInfo.fullname
						if userInfo.location.address
							span 
								i.fa.fa-map-marker
								=userInfo.location.address
						ul.social-list
							each media,index in ['facebook','twitter','linkedin','instagram']
								if userInfo.social[media]
									li 
										if index !== 3
											a(href="" class=`fa fa-${media}-square`)
										else
											a(href="" class=`fa fa-${media}`)
				.profile-info--about
					p= userInfo.bio || "Please update your bio..."
					if userInfo.email
						span
							i.fa.fa-envelope
							| nick@ep.com
					if userInfo.phone
						span
							i.fa.fa-phone
							| +00 9512785
				
block footer
	+footer(true)