mixin navigation
	nav#my-nav
		a(href="/", class="logo")
			img(src="/images/logo.svg", alt="EP_LOGO")
		div.flex-right
			if !user
				a(href="/login").btn.btn-th.btn-nav Login
			if user
				.notification
					button(class="notification-btn fa fa-bell",data-target="subMenu")
					.sub-menu
						div#notificationContainer
							if notifications && notifications.length
								each notification in notifications
									a(href="#" class="notification-item")
										-let userImg = notification.user.profileImg ? `${imagekitEP}${notification.user.profileImg}`:'https://www.drupal.org/files/issues/default-avatar.png';
										img(src=userImg) 	
										div
											span= notification.user.fullname
											p= notification.message
											small= h.moment(notification.createdAt).fromNow()
							else
								p(style="text-align:center;") No Notification
									
							//- a(href="" style="text-align:center;") Show All Notifications
				.dropdown-nav
					span(data-target="subMenu")
						img(src=`${user.profileImg}`, alt="User Image") 
						b Ashish 
						i.fa.fa-angle-down
					.sub-menu
						a(href="/host-event") 
							i.fa.fa-plus 
							| Add Event
						a(href="/profile/me") 
							i.fa.fa-user 
							| Profile
						a(href="/logout") 
							i.fa.fa-unlock 
							| Log out